UnityProject/Library
UnityProject/Temp
UnityProject/obj
UnityProject/.idea
bin
setup/setup/obj
UnityProject/.idea
UnityProject/.idea
UnityProject/.vs
UnityProject/.idea
UnityProject/.idea
UnityProject/.idea/.idea.UnityProject/.idea
