UnityProject/Library
UnityProject/Temp
UnityProject/obj
UnityProject/.idea
bin
setup/setup/obj
UnityProject/.vs
UnityProject/.idea/.idea.UnityProject/.idea
UnityProject/Assets/Plugins/Editor/JetBrains.meta
UnityProject/Assets/Scenes/Examples/KinectSkeleton ForceHands with Sound/Materials/Horse_Head.obj.meta
UnityProject/Assets/Scenes/Examples/KinectSkeleton ForceHands with Sound/Materials/Horse_Head.obj
*.blend
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/UVball983042.obj
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/HighresSphere128x128.obj
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/HighResSphere126976f.obj
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/UVball983042.obj.meta
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/IcoSphereWireFrame.obj.meta
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/IcoSphereWireFrame.obj
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/HornedHelmetDownload.obj.meta
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/HighresSphere128x128.obj.meta
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/HornedHelmetDownload.obj
UnityProject/Assets/Scenes/Examples/Max Silly Demos/Meshes/HighResSphere126976f.obj.meta
UnityProject/Assets/Scenes/Examples/Complex Demos/Meshes/HornedHelmetDownload.obj
*.obj
